body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    background-color: #00d7fd;
    padding: 5px;
    margin: 0 auto;
    width: 10%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #00334f;
}

.Fakultas-item {
    text-align: center;
    background-color: #33c3b7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 auto;   
    width: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
}
.Fakultas-item div {
    margin: 10px 0; /* Menambahkan margin atas dan bawah */
}

.Fakultas-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    margin-bottom: 10px; /* Add space between description and buttons */
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    margin: 2px;
}

.delete-form {
    display: inline-block;
}

.delete-button {
    text-decoration: none;
    color: #007BFF;
    padding: 12px;
    margin: 2px;
    color: #fff;
    border-radius: 8px;
    background-color: red; /* Change the "Hapus" button to red */
}